.city__govt__info {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid orange;
}

.city__info {
    
    border: 1px dotted black;
    justify-content: center;
}

.city__header{
    text-align: center;
    
}
.city__list {
    

}

.govt__info {
    
    border: 1px dotted black; 
    justify-content: center;
}

.govt__header {
    text-align: center;

}

.govt__list {
   

}
