.finland-landmarks img {
	max-height: 300px;
    max-width: 300px;
}

.mongolia-landmarks img {
    max-height: 300px;
    max-width: 300px;
}

.morocco-landmarks img {
    max-height: 300px;
    max-width: 300px;
}

.greece-landmarks img {
    max-height: 300px;
    max-width: 300px;
}
