.country__images {
	display: flex;
}

.country__flag {
	height:200px;
	width:300px;
	padding:0;
	margin-right:1em;
	border:1px solid orange;
}

.country__flag img {
	width:300px;
}

.country__photo {
	height:200px;
	width:100%;
	padding:0;
	border:1px solid orange;
	background-image: url("https://i.pinimg.com/originals/cc/18/8c/cc188c604e58cffd36e1d183c7198d21.jpg"); /*Placeholder, we can remove later*/
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Replace these with your country image and add the corresponding ID to your html page :) */
#country_photo--finland {
	background-image: url("https://i.pinimg.com/originals/cc/18/8c/cc188c604e58cffd36e1d183c7198d21.jpg");
}

#country_photo--mongolia {
	background-image: url("https://i.pinimg.com/originals/cc/18/8c/cc188c604e58cffd36e1d183c7198d21.jpg");
}

#country_photo--morocco {
	background-image: url("https://i.pinimg.com/originals/cc/18/8c/cc188c604e58cffd36e1d183c7198d21.jpg");
}

#country_photo--greece {
	background-image: url("https://lp-cms-production.imgix.net/features/2016/04/Santorini-53c9e0dca77b.jpg");
	background-position: 0% 16%;
}