@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import url("nav.css");
@import url("./imagesection.css");
@import url("city-govt-info.css");
@import url("country-landmarks.css");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: "Comfortaa", Arial, sans-serif;
	font-size: 14px;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

body {
	background-color:lightgray;
}

.country__name {
	text-align: center;
	margin-top:1em;
	font-size:2em;
	font-weight: bold;
	text-transform: uppercase;
}
/* .navigation {
	width: 100%;
}

.navigation ul {
	display: flex;
}

.nav__link {
	flex-basis: 24%;
	list-style-type: none;
	text-align: center;
	align-items: stretch;
}

.nav__link a {
	display: block;
	text-decoration: none;
	color: black;
	border: 1px solid black;
	border-radius: 3px;
	padding: 3px;
	margin: 2px;
}

.nav__link a:hover {
	background-color: black;
	color: white;
} */
.country__info {
	display: flex;
}

.team__name {
	text-align: center;
}
.team__slogan {
	text-align: center;
}

.homepage__flags {
	display:flex;
	justify-content: space-around;
}