.navigation {
	width: 100%;
}

.nav__header {
	width: 100%;
	text-align: center;
	font-size: 18px;
	height: 22px;
}

.nav__header a{
	color: #404040;
}

.navigation ul {
	display: flex;
}

.nav__link {
	flex-basis: 24%;
	list-style-type: none;
	text-align: center;
	align-items: stretch;
}

.nav__link a {
	display: block;
	text-decoration: none;
	color: black;
	background-color:white;
	border-radius: 3px;
	padding: 3px;
	margin: 2px;
}

.nav__link a:hover {
	background-color:deepskyblue;
	color: white;
}